flask
waitress
pymongo
dnspython
paho-mqtt
python-dateutil
dash
dash-bootstrap-components
dash-html-components
dash-core-components
plotly
uwsgi

Brotli
click
testresources
dash-renderer
dash-table

Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
numpy
pandas

pytz
retrying
six
Werkzeug
xlrd
gunicorn
openpyxl