flask
waitress
pymongo
dnspython
paho-mqtt
python-dateutil
dash
dash-bootstrap-components
dash-html-components
dash-core-components
plotly
uwsgi

Brotli==1.0.7
click==7.1.2

dash-renderer
dash-table

Flask-Compress==1.5.0
future==0.18.2
itsdangerous
Jinja2
MarkupSafe==1.1.1
numpy==1.19.1
pandas==1.1.0

pytz==2020.1
retrying==1.3.3
six==1.15.0
Werkzeug
xlrd==1.2.0
gunicorn==20.0.4